In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("employees_large.csv")
df.head()

      Name  Age  Salary Department
0    Alice   25   45000         IT
1      Bob   30   70000         HR
2  Charlie   22   30000  Marketing
3    David   35   80000    Finance
4      Eva   28   50000         IT

In [29]:
avg_salary_by_dept = df.groupby("Department")["Salary"].mean()
highest_avg_salary_dept = avg_salary_by_dept.idxmax()
highest_avg_salary = avg_salary_by_dept.max()

In [30]:
print("Average salary by department:\n", avg_salary_by_dept)

Average salary by department:
 Department
Engineering    125000.0
Finance         78000.0
HR              68000.0
IT              57750.0
Marketing       43750.0
Name: Salary, dtype: float64

In [31]:
print(f"\nDepartment with highest average salary is '{highest_avg_salary_dept}' with ${highest_avg_salary:.2f}")

Department with highest average salary is 'Engineering' with $125000.00