In [63]:
import pandas as pd
import math
import numpy as np

In [64]:
df = pd.read_csv("sales_large.csv")
df.head()

  Region  Product  Sales
0   East   Apples   5000
1   West  Bananas   7000
2   East  Oranges   4000
3   West   Apples   6000
4  South  Oranges   3000

In [65]:
df.Product.unique()

array(['Apples', 'Bananas', 'Oranges'], dtype=object)

In [66]:
total_sales_by_region = df.groupby(["Region", "Product"])['Sales'].sum().reset_index()
print("Total sales of each product in each region is:")
print(total_sales_by_region)

Total sales of each product in each region is:
     Region  Product  Sales
0   Central   Apples   9000
1   Central  Oranges   8000
2      East   Apples   5000
3      East  Bananas   8500
4      East  Oranges  13900
5     North   Apples   7200
6     North  Bananas   9000
7     North  Oranges   4900
8     South   Apples  12900
9     South  Bananas   5100
10    South  Oranges   3000
11     West   Apples  18900
12     West  Bananas  14700
13     West  Oranges   7500

In [67]:
total_sales = df.groupby("Product")['Sales'].sum()
total_sales

Product
Apples     53000
Bananas    37300
Oranges    37300
Name: Sales, dtype: int64

In [68]:
top_selled_product_name = total_sales.idxmax()
total_sales_of_top_selled_product = total_sales.max()

In [69]:
print(f"Top Selled Product is {top_selled_product_name} with total sales of {top_selling_sales}")

Top Selled Product is Apples with total sales of 53000